body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
nav {
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
  position: fixed;
  width: 30%;
  height: 100%;
}
nav h1 {
  display: inline;
  margin: 40px 10px 20px 0px;
  padding: 10px 10px 10px 10px;
}

nav button {
  display: inline;
  margin: 40px 0px 20px 0px;
  padding: 10px 10px 10px 10px;
  font-size: 12px;
  color: #aaa;
  background-color: #eee;
}
nav div {
  display: block;
  font-size: 18px;
  color: #aaa;
  padding: 8px 25px;
  text-decoration: none;
  text-transform: capitalize;
}

nav div:hover {
  background-color: #555;
  color: white;
}

nav div.active {
  background-color: green;
  color: white;
}

main {
  width: 70%;
  margin: 0 0 0 30%;
}

main h1 {
  margin: 0;
  padding: 35px;
  text-transform: capitalize;
}

main div {
  margin 0;
  padding-left: 35px;
}
main span {
  float: right;
  padding-right: 35px;
}

main p {
  display: inline-block;
}
